.classOne{
    color: rgb(226, 217, 217);
}
.classTwo{
    color: rgb(226, 217, 217);
    background: #7f9ae4a7;
}

*{
    margin: 0px 0px;
}

.appMap {
  padding-left: 12%;
  padding-top: 3%;
  display: flex;
    flex-wrap: wrap;
    gap: 15px;

 
  background: linear-gradient(300deg,#0e0000,#3e0c0c,#123084,#760a0c,#19206c);
  background-size: 300% 300%;
  animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.display{
  color: rgb(255, 255, 255);
  font-size: xx-large;
  text-align: center;
  border: solid rgba(94, 8, 8, 0.516);
  background: #123084;
  height: 5rem;
  padding-top: 30px;
}
